<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/sales"
                       [routerLink]="['/', 'sales']"
                       icon="arrow-back-circle"
                       color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Ventas realizadas
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ngx-datatable
          #ordersTable
          class="bootstrap"
          [rows]="saleOrderList"
          [columnMode]="ColumnMode.force"
          headerHeight="auto"
          footerHeight="auto"
          rowHeight="auto"
          [limit]="20"
          [selectionType]="SelectionType.single"
          (select)="onSelect($event)"
      >

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="50">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:60px; font-size:14px">
              <div>{{ row.clientName }}, {{ row.clientRfc }}, {{ row.Estatus }}</div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="#"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="$event.preventDefault(); $event.stopPropagation(); toggleExpandRow($event, row)"
              class="desktop-hidden"
            >
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="clientName" [flexGrow]="3">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span>
              <b>Cliente</b>
            </span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="clientRfc" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">
              <b>RFC Cliente</b>
            </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value ? value : 'No disponible' }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="employeeName" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">
              <b>Empleado</b>
            </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">
              {{ value }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="total" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">
              <b>Total</b>
            </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">
              {{ currencyService.formatAmountToCurrencyString(value) }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="createdDate" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">
              <b>Fecha de Creación</b>
            </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">
              {{ dateService.parseDate(value) }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="status" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">
              <b>Estatus</b>
            </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden" style="color: green;">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </ion-card-content>
  </ion-card>

</ion-content>
